body {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-top: 56px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all
{
    max-width:255px !important;
}

.mb-4, .my-4 {
     text-align: center !important;
}
.my-4
{
    text-align: center !important;
}

   
